body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#adb8a0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.auth-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs {
    display: flex;
    justify-content: center;
    width: 100%;
}

.tab {
    width: 50%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: #ddd;
    border-radius: 10px 10px 0 0;
}

#login-tab:checked ~ .tabs .tab[for="login-tab"],
#register-tab:checked ~ .tabs .tab[for="register-tab"] {
    background-color: #333;
    color: white;
}

.auth-forms {
    width: 100%;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 10px 10px;
    padding: 20px;
}

.auth-form {
    display: none;
    flex-direction: column;
}

#login-tab:checked ~ .auth-forms #login-form,
#register-tab:checked ~ .auth-forms #register-form {
    display: flex;
}

.auth-form h2 {
    margin-top: 0;
}

.auth-form label {
    margin-top: 10px;
}

.auth-form input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.auth-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: #45a049;
}
